.container-prk {
    .page-home {
      	min-height: 100vh;
    	background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-position-y: inherit;
    	background-image: url('https://res.cloudinary.com/dovu27lye/image/upload/v1580889158/portfolio/pierrick_background_picture_desktop_vetlsn.jpg'); 
        h1 {
            cursor: default;
        }
        #home-name {
            .ml3 {
                font-weight: 900;
                font-size: 3.5em;
                color: white;
                text-align: center;
                padding-top: 25%;
                padding-left: 57%;
                margin-block-start: 0em!important;
            }

            .ml4 {
                font-weight: 900;
                font-size: 3.5em;
                color: white;
                text-align: center;
                padding-left: 57%;
                margin-block-start: 0em!important;
            }            
        }

    }
	@media (max-width: 1024px) {
        .page-home {
            background-position: center;
    		background-image: url('https://res.cloudinary.com/dovu27lye/image/upload/v1580889157/portfolio/pierrick_background_picture_mobile_zskrrg.jpg');
            display: flex;
            align-items: center;
            justify-content: center;
        #home-name {
            max-width: 85%;
            .ml3 {
            font-size: 3em;
                padding: 0;
            }
            .ml4 {
            font-size: 3em;
                padding: 0
            }
        }  
        }
	}
}
