<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/prkince" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/pierrick-delage/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/prkince/resume_prk/blob/master/resume_prk.pdf" target="_blank"><i class="far fa-file"></i></a>
  </div>
  <div class="footer-copyright">
    <small class="">
      <div>&copy;
        <script>document.write(new Date().getFullYear());</script>
        Pierrick Delage. All Rights Reserved.
      </div>
      <div>Designed &amp; Developed by
        <a href="https://delage.dev/" target="_blank">
        delage.dev</a>
    </small>
    </div>
  </div>
</div>