<div class="page-home">
	<div id='home-name'>
		<h1 class="ml3">Pierrick Delage</h1>
		<h1 class="ml4"><%= t 'pages.home' %></h1>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <%= render './shared/contacts_links'  %>
</div>