<div class="page-contact">

	<div class="flash-create">
	  <% flash.each do |key, value| %>
	    <div>
	      <a href="#" data-dismiss="alert">×</a>
	        <%= value %>
	    </div>
	  <% end %>
	</div>

</div>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>