.footer {
  background: transparent;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  padding: 0rem 4rem 0rem 4rem;
  color: rgba(255,255,255, 0.88);
  position:fixed;
  bottom:0;
  left:0;
  width: 100%;
  z-index: 1001;
  .footer-copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgba(255,255,255, 0.88);
    opacity: 0.80;
    a {
      color: rgba(255,255,255, 0.88);
      font-weight: 700;
    }
  }
  @media (max-width: 768px) {
    visibility: hidden;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba(255,255,255, 0.88);
  opacity: 0.8;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
  #cv-img {
    margin-bottom: 8px;
    width: 34px;
    height: 31px;
    margin-right: -5px;
  }
  #flag-img {
    margin-bottom: 5px;
    width: 36px;
    height: 39px;
    margin-right: -5px;
  }
}
.footer-links a:hover {
  opacity: 1;
  color: rgba(255,255,255, 0.88);
}